[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = master
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	branch = v5.0.0-rc.2 # Master branch is not safe to use
[submodule "lib/seaport"]
	path = lib/seaport
	url = https://github.com/projectopensea/seaport
	branch = 1.5 # Use latest release
[submodule "lib/delegate-registry"]
	path = lib/delegate-registry
	url = https://github.com/delegatexyz/delegate-registry
	branch = v2
