[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
solc_version = "0.8.21"
# EVM version must be Paris not Shanghai to prevent PUSH0 incompatibility with other EVM L1s
evm_version = "paris"
optimizer_runs = 9_999_999
# don't think it's worth turning IR on due to potential for bugs
viaIR = false

[fmt]
line_length = 170
wrap_comments = true # Increases readability of comments

[fuzz]
# runs = 250000

# See more config options https://github.com/foundry-rs/foundry/tree/master/config

[invariant]
runs = 1000
depth = 25
fail_on_revert = true
dictionary_weight = 80
include_storage = true
include_push_bytes = true
